.container {
    // height: 38%;
    // width: 30%;
    // border-radius: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    // background: linear-gradient(to right, rgb(255, 252, 240), rgb(232, 248, 255));
    // box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    .tableCont {
        padding: 0px 20px;
        display: flex;
        flex-direction: column;

    }

    .buttonHeading {
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace;
        padding: 10px 10px 30px;
        font-weight: 900;
        color: rgb(0, 0, 0);
    }

    .inpCont {
        display: flex;
        flex-direction: column;
        gap:10px;

        .timeInp {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 22px;

            .normalInputStyle {
                padding: 8px 12px;
                border: 1px solid #ccc;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 16px;
                border-radius: 10px;
                color: #333;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
                outline: none;
                transition: border-color 0.2s ease, box-shadow 0.2s ease;

                &:focus {
                    border-color: #4a90e2;
                    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
                }
            }
            #monthDOnly{
                width:61px;
            }
        }
    }


    .actionButton {
        margin: 20px;
        text-decoration: none;
        background: rgb(20 73 105 / 41%);
        color: white;
        border-radius: 18px;
        font-size: 16px;
        border: none;
        padding: 20px;
        font-family: cursive;

        &:hover {
            background: rgb(24 200 255 / 87%);
            transition: background 0.4s ease-in-out;
            cursor: pointer;
        }
    }
}